/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,400;0,700;1,200&family=Roboto:wght@300;400;700&display=swap");

/* common or utilitys */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/*---------------------
    Greatest sections
----------------------- */
.greatest {
  display: flex;
  width: 85%;
  height: 550px;
  background-color: rgb(29, 29, 29);
  border-radius: 25px;
}
.greatest-info {
  width: 35%;
  padding: 3% 5% 0 8%;
}
.greatest-title {
  font-size: 3.5em;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  line-height: 130%;
}
.great {
  color: rgb(167, 197, 232);
}
.greatest-thumnail {
  font-size: 14px;
  font-weight: 300;
  color: white;
  margin-bottom: 35px;
}
.watch-button {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 12px 30px;
  border-radius: 5px;
}
.greatest-banner {
  width: 45%;
  height: 70%;
}
.greatest-banner img {
  height: 498px;
  padding: 10% 0 0 5%;
}

/*-----------------
     Match details
-------------------*/
.blogs-ditails {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}

/*-------------
     Side Bar
---------------*/
.side-bar {
  height: 280px;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  margin-left: 9%;
  margin-right: 2%;
}
.side-bar a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  background-color: white;
  border-radius: 10px;
  margin-top: 28px;
}
#match {
  padding: 15px 25px;
}
#group {
  padding: 15px 60px;
}
#blog {
  padding: 15px 80px;
}
.side-bar a:hover {
  color: white;
  background-color: red;
}

/*---------------
   Blogs details
-----------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-right: 8%;
}
.blog-banner {
  width: 95%;
}
.transfer-info {
  width: 60%;
  margin-top: 10px;
  margin-left: 10px;
}
.transfer-info button {
  font-size: 14px;
  padding: 5px 15px;
}
.transfer-info p {
  font-size: 16px;
  font-weight: 700;
  width: 250px;
}
.timeline-view {
  display: flex;
  align-items: center;
}
.timeline-view img {
  margin-right: 10px;
}
.timeline-view span {
  margin-right: 20px;
}

/*-------------------
     Footer section 
---------------------*/
.goals {
  height: 360px;
  text-align: center;
  background-color: rgb(17, 16, 16);
}
.goals h1 {
  font-size: 40px;
  font-weight: 500;
  color: rgb(212, 210, 210);
  padding-top: 8%;
}
.goals hr {
  height: 0;
  border: 0;
  border-top: 1px solid rgb(67, 67, 67);
  margin: 3% 10%;
}
.informations a {
  text-decoration: none;
  color: rgb(212, 210, 210);
  font-size: 14px;
  font-weight: 300;
  padding-right: 40px;
}
